.heading{
    font-size:23px;
    width:100%;
    margin: 0px;
    box-shadow: 5px 5px 5px powderblue;
}
.note{
    font-size: 15px;
    color: black;
}
.copy_right_footer{
    position: fixed;
    color: aliceblue;
    bottom:0;
    width:100%;
    background-color: powderblue;
    line-height:3;
    text-align: center;
}
canvas{
    border: 5px solid rgb(219, 137, 219);
    border-radius: 20px;
    box-shadow: 5px 5px 5px powderblue;
}
body{
    background-color: plum;
    font-family: Georgia, 'Times New Roman', Times, serif;
}